<header class="text-center">
    <h1>Chat</h1>
</header>

<main class="chat">
    <div class="container">
        <div class="chat-content">
            <div class="card">
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item " *ngFor="let msj of mensajes">
                        <strong>{{msj.NOMBRE}} {{msj.APELLIDO}} : </strong>
                        <span> {{msj.TEXTO}} </span>
                        <small>{{msj.FECHA | date:'yyyy/MM/dd HH:mm'}}</small>
                    </li>
                </ul>
                
            </div>
        </div>
        <form #sendForm="ngForm">
            <div class="chat-send row">
               
                <div class="col-8">
                    <input type="text" class="form-control" name="message" id="input-message" [(ngModel)]="tempMensa.texto" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary" (click)="enviarMensaje()">Send</button>
                </div>
            </div>
        </form>
    </div>

</main>