<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="/" >Sis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="/user/Inicio" id='Inicio_U'>Inicio</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" href="/user/myProductos" id="MyProductos_U">My Products <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/user/home" id="Perfil_U">Perfil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/newProducto" id='newProducto_U'>Nuevo Producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/Carrito" id='Carrito_U'>Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/Chats" id='Chats_U'>Chats</a>
        </li>

        

        
        <li class="nav-item">
          <a class="nav-link" href="/admin/categorias" id='Categorias_A'>Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/Denuncias" id='Denuncia_A'>Denuncias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/Reportes" id='Reportes_A'>Reportes</a>
        </li>
        <li class="nav-item" (click)="SingOut()">
          <a class="nav-link" id="singOut" routerLink="/login">Cerrar Sesion</a>
        </li>
        
          
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <p class="text-white">{{nombre}} {{apellido}} </p>
      </form>
    </div>
  </nav>