<div class="container"><p></p></div>
<div class="container">
    <form class="form-inline">
        <div class="col-md-4">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="palabraR" [ngModelOptions]="{standalone: true}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="buscador()" >Search</button>
        </div>
        <div class="col-md-1"><h6>Categoria</h6></div>
        <div class="col-md-3">            
            <select id="categoria" name="categoria" class="form-control" [(ngModel)]="idCategoria" [ngModelOptions]="{standalone: true}" >
            <option *ngFor="let cat of categorias" [value]="cat.IDCATEGORIA">{{cat.NOMBRE}}</option>
            </select>
        </div>
        <div class="col-md-1"><h6>Precio</h6></div>
        <div class="col-md-3">            
            <select  name="precios" class="form-control" [(ngModel)]="idOrderBY" [ngModelOptions]="{standalone: true}" >
            <option *ngFor="let pre of precios" [value]="pre.id">{{pre.texto}}</option>
            </select>
        </div>
    </form>
</div>
<div class="container"><p></p></div>
<div class="col-md-4" *ngFor="let product of productos">
    <div class="card text-center shadow p-3 mb-5 text-white rounded">
        <div class="card-headee">
            <h3>{{product.NOMBRE}}</h3>
        </div>
        <div class="card-body" >
            <img src="http://192.168.0.8:3009/{{product.PATHI}}" class="card-img-top img-fluid img-responsive" >
            <p class="card-text"> Q.{{product.PRECIO}} </p>
                <div class="row">
                    <p class="badge badge-pill badge-info " *ngFor="let pa of product.PALABRAS " [value]="pa">{{pa}}</p>  
                </div>
            <p class="card-text"> Cat: {{product.NOMBRECA}} </p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter" (click)="prueba(product.IDPRODUCTO)">Add To Card </button>
            <button type="button" class="btn btn-outline-success" (click)="detalleProducto(product.IDPRODUCTO)" >Detelle</button>
        </div>
    </div>
  
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLongTitle" >Ingrese la cantidad a comprar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="email" class="form-control form-control-user"  type="text" aria-describedby="emailHelp" [(ngModel)]="tempC.cantidad"[ngModelOptions]="{standalone: true}" placeholder="Cantidad">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-success" (click)="addToCar()" >Agregar</button>
      </div>
    </div>
  </div>
</div>

